<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <h1>Hello there!</h1>
    <div th:each="post : ${prods}" >
    <h2 th:text="${post.title}" >
       My Blog
    </h2>
    
    <p th:text="${post.body}">
      blog for webPrac Application :)
    </p>
</div>
    <img src="https://cdn.glitch.com/a21c8c4f-20a4-448e-8e22-a4a39434d092%2Fbears.jpg?1544155075243" alt="Three Bears" width="246" height="205">
  
  </body>
</html>
